
module local 1.0;

require {
	type haproxy_t;
	class capability dac_override;
}

#============= haproxy_t ==============
allow haproxy_t self:capability dac_override;
